.card {
    width: 500px;
    height: 500px;
    border: 2px solid black;
}
.item {
    width: 100px;
    height: 100px;
    border: 3px solid black;
    border-radius: 50%;
    position: relative;     
    animation-name: test;
    animation-duration: 2s;
    animation-iteration-count: 2;
    animation-range: initial;
}

@keyframes test {
    0%{
        top: 0;
        left: 0;
    }
    25% {
        background-color: red;
    }
    50%{
        top: 100px;
        left: 100px;
    }
    100%{
        top: 0;
        left: 0;
    }
}