body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin: 0%;
}
.container {
    max-width: 1490px;
    width: 100%;
    margin: 0 auto;
}

header {
    width: 100%;
    height: 105px;
    border-bottom-width: 1px;
    background: #FFFFFFB2;
    border-bottom: 1px solid #E3E3E3;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flexbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a {
    font-weight: 500;
    font-style: Regular;
    font-size: 19px;
    margin-right: 35.5px;
    line-height: 130%;
    color: black;
    text-decoration: none;
}

.info a {
    width: 200px;
}

.info button {
    font-size: 18px;
    width: 202px;
    height: 53px;
    padding-top: 15px;
    padding-right: 30px;
    padding-bottom: 15px;
    padding-left: 30px;
    border: 1px solid #EFA35A;
    background: #FFFFFF;
}

.background {
    width: 100%;
    background-size: cover;
    height: 900px;
    background-image: url("./Rectangle\ 37.png");
}

.info {
    margin-right: -30px;
}

.info a {
        margin-right: 91px;
}


.background-info {
    margin-top: 221px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 70px;
}
.background-info__left {
    max-width: 596px;
}
.background-info__left *{
    margin: 0;
}

.background-info__left h3 {
    font-family: Geometria;
    font-weight: 500;
    font-style: Medium;
    font-size: 40px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.background-info__left h2 {
    font-family: Geometria;
    font-weight: 800;
    font-style: ExtraBold;
    font-size: 200px;
    color: #EFA359;
}

.background-info__left p {
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 32px;
    color: #FFFFFF;
}
.but1 {
    width: 251px;
    height: 51px;
    margin-top: 74px;
    border-width: 1px;
    padding-top: 15px;
    padding-right: 30px;
    padding-bottom: 15px;
    padding-left: 30px;
    opacity: 1;
    background: #EFA359;
    font-family: Roboto;
    color: #FFFFFF;
    font-weight: 700;
    font-style: Bold;
    font-size: 18px;
    border: 1px solid #EFA35A
}

.but2 {
    margin-top: 74px;
    width: 199.6px;
    height: 51px;
    border-width: 1px;
    padding-top: 15px;
    padding-right: 30px;
    padding-bottom: 15px;
    padding-left: 30px;
    background: #353535B0;
    border: 1px solid #EFA35A;
    font-family: Roboto;
    font-weight: 700;
    margin-left: 39px;
    font-style: Bold;
    font-size: 18px;
    color: #FFFFFF;
}
.Podrobnee{
    width: 251px;
    height: 51px;
    background: #EFA359;
    border: 1px solid #EFA35A;
    font-family: Roboto;
    font-weight: 700;
    font-style: Bold;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FFFFFF;
}
.Zadat{
    width: 200px;
    height: 51px;
    background: #353535B0;
    border: 1px solid #EFA35A;
    font-family: Roboto;
    font-weight: 700;
    font-style: Bold;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FFFFFF;
}
.NAGIBATR3000{
    width: 600px;
    margin-top: 50px;
}